html {
  font-size: 100%;
}

body {
  background-image: url(resources/bgTile.png);
  background-repeat: repeat;
  font: times, georgia, sans-serif;
  padding-top: 100px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#content p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#greeting-container {
  margin-top: 1.25em;
}

#home {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  text-align: center;
}

#left {
  float: left;
}

#me {
  border-radius: 50px;
  max-height: 300px;
  width: auto;
}

#right {
  float: right;
}

.margin img {
  max-width: 15em;
  height: auto;
  border: 3em;
}

.image-thumbnails img {
  border: 1em solid rgb(132, 179, 249);
  max-width: 100%;
  max-height: 100%;
}

.image-thumbnails img:hover {
  border: 1em solid skyblue;
}

.image-thumbnails p {
  text-align: center;
}

.icons img {
  border: 0.625em;
  max-width: 10%;
  max-height: 10%;
}

.title {
  text-shadow: 4px 4px 3px rgb(132, 179, 249);
  text-align: center;
  margin: 0.5em;
}

.description {
  margin: 0.5em;
}

a {
  text-decoration: none;
}

button {
  background-color: white;
  border: 0.125em solid rgb(132, 179, 249);
  color: black;
  padding: 1em 2em;
  text-align: center;
  font-size: 1em;
  margin: 0.25em 0.125em;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(132, 179, 249);
  color: white;
}

/* h1 {
  text-align: center;
} */
