html {
  font-size: 100%;
}

body {
  background-image: url(resources/bgTile.png);
  background-repeat: repeat;
  font: times, georgia, sans-serif;
  padding-top: 100px;
  word-wrap: break-word;
}

#me {
  border-radius: 50px;
  max-height: 300px;
  width: auto;
}

.image-thumbnails img {
  border: 1em solid rgb(132, 179, 249);
  max-width: 100%;
  max-height: 100%;
}

.image-thumbnails img:hover {
  border: 1em solid skyblue;
}

.icon img {
  border: 0.625em;
  max-width: 100%;
  max-height: 100%;
}

.title {
  text-shadow: 2px 2px 3px rgb(132, 179, 249);
  margin: 1em;
}

.description {
  margin-bottom: 0.5em;
  text-align: left;
}

.row {
  margin-bottom: 1em;
}

button {
  background-color: rgb(132, 179, 249);
  border: 0.125em transparent;
  color: black;
  padding: 1em 2em;
  text-align: center;
  font-size: 1em;
  margin: 0.25em 0.125em;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: skyblue;
  color: white;
}
